.metodos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 100%;
}

.dashboard__titulo{
    text-align: center;
}


a{
    text-decoration: none;
}

