.reseña {
    background-image: url("../img/reseña1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex; 
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: space-between;
}
.contenedor {
    display: flex;
    padding: 20px;
    margin-bottom: -20px; 
    width: 100%;
    flex-direction: column; /* Para centrar el contenido verticalmente */
    justify-content: center; /* Para centrar el contenido verticalmente */
    align-items: center; /* Para centrar el contenido horizontalmente */
}

.card {
    width: 234px;
    height: auto;
    flex-shrink: 0;
    background: #D9D9D9;
    display: flex; /* Agrega esta propiedad para permitir el centrado vertical */
    flex-direction: column; /* Para centrar el contenido verticalmente */
    justify-content: center; /* Para centrar el contenido verticalmente */
    align-items: center; /* Para centrar el contenido horizontalmente */
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-title {
    color: #000000;
    text-align: center;
    font-family: Inria Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.card-body {
    text-align: center;
}

.btn-see {
    border-radius: 20px;
    background: rgba(45, 50, 179, 0.30);
    width: 70px;
    height: 50px;
    flex-shrink: 0;
    text-align: center;
    color: #000;
    border: none;
    font-weight: bold;
}

.btn-fav {
    background: rgba(179, 45, 159, 0.3);
    border-radius: 20px;
    width: 70px;
    height: 50px;
    color: #000;
    border: none;
    font-size: larger;
}

.navbar {
    background-color: #000; /* Cambiar a negro */
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
    width: 100%;
    display: flex;
    height: 69px;
}

.navbar p {
    color: #fff; /* Cambiar a blanco */
    margin: 0;
    padding: 0 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}


form[name="buscar"]  {
    margin-right: auto;
    color:#f3e1e1;
}

form[name="buscar"] input {
    width: 317px;
    height: 51px;
    border-radius: 30px;
    background: rgba(217, 217, 217, 0.10);
    border: none;
    padding: 0 20px;
    font-family: Inter, sans-serif;
    font-size: 16px;
}

.buscar {
    width: 317px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(217, 217, 217, 0.10);
}

.inicio {
    color: #FFF;
    text-align: center;
    font-family: Inria Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.productos {
    color: #FFF;
    text-align: center;
    font-family: Inria Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

/*Footer*/

.footer {
    background-color: #000 !important; /* Cambiar a negro con !important */
    align-items: center;
    padding: 0 24px;
    width: 100%;
    display: flex;
    height: 50px;
}

.nombrefoot {
    color: #fff !important; /* Cambiar a blanco con !important */
    text-align: center;
    line-height: normal;
    font-weight: 600;
}

