<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/propiedad.css}">
    <title>QuinchoBiliaria</title>
</head>

<body>
<nav th:replace="/fragments/navbar :: nav"></nav>
<section class="registro" >


    <div class="rectangulo2">
        <!--        cambiar metodo a post y poner la ruta -->
        <form class="formulario" th:action="@{/reserva_pasada/registro}" method="post" enctype="multipart/form-data" th:object="${reseña}">

<!--            captar id-->
            <input type="hidden" class="form-control" name="idUsuario" placeholder="NOMBRE DE LA PROPIEDAD" th:value="${session.usuariosession.id}" aria-label="Nombre">

            <div class="form-group my-3">
                <h3 class="card-title">CUENTANOS TU EXPERIENCIA</h3>
            </div>
            <div class="form-group my-3">
                <input type="text" class="form-control" name="nombre" placeholder="NOMBRE DEL EVENTO" th:value="${nombre}" aria-label="Nombre">
            </div>
            <div class="form-group my-3">
                <label for="descripcion">DESCRIPCION DEL EVENTO:</label>
                <textarea class="form-control" name="descripcion" id="descripcion" placeholder="Escribe una descripcion del producto: que incluye el alquiler del lugar. Ejemplo wifi, sistema de sonido, manteleria, vajilla, frezer, servicios (si es que brindan alguno)" rows="4" th:text="${descripcion}"></textarea>
            </div>
            <div class="form-group my-3">
                <label for="archivos">SUBIR IMAGENES:</label>
                <input type="file" name="archivos" id="archivos" multiple accept="image/*">
            </div>

            <a th:href="@{/propiedades/lista}"><button class="btn btn-dark mt-3 botones">GUARDAR RESEÑA</button></a>
             <a th:href="@{/usuario/perfil}"><button class="btn btn-dark mt-3 botones">CANCELAR</button></a>

        </form>
       
    </div>

</section >
<footer th:replace ="/fragments/footer :: footer"> </footer>
</body>
</html>